.nav-btn:hover{
    cursor: pointer;
}



.nav-end {
    display: flex;
    justify-content: center;
   background-color: #949492;
   width: 6vw;
   height: 3vh;
   border-bottom:2px solid black;
   font-size: 20px;
}

.nav-btn {
    display: flex;
    margin-bottom: 2px;
    border:1px solid black;
    border-left: 0px;
    border-right: 0px;
    justify-content: center;
    font-size: 15px;
}

.cat-btn {
    visibility: hidden;
}
