body {
    background-image: linear-gradient(to right top, #6bd1b6, #6cd6b0, #70dba8, #78df9f, #82e395, #8ee78d, #9aea85, #a8ed7c, #b8f175, #caf56d, #dbf866, #eefb5f);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin : auto;
    margin-top: 0px;
    width: 100vw;
    height: 7vh;
    margin-bottom: 0px;
    border-bottom: 2px dashed black;
}

h1 {
    margin-top : 0px;
}

content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : auto;
    margin-top: 5vh;
    width: 80vw;
    height: 90vh;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#input-carrier {
    display: flex;
    width: 80vw;
    height: 5vh;
    margin-left: 60vh;
}

#input-title {
    font-weight: bold;
    display: flex;
    width: 10vw;
    height: 4vh;
    font-size: 35px;
    justify-content: center;
    align-items: center;
}

#place {
    width: 40vw;
    height: 4vh;
    border-radius: 5px;
}

#map{
    margin-top: 5vh;
    width: 50vw;
    height: 60vh;
    border-radius: 5px;
    box-shadow: 10px 10px 10px grey;
}